@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body{
  margin-left: 0;
  padding-left: 0;
}

.title-page-container {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(135deg, #a7e9af, #6dbf63);
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-page-content {
  text-align: center;
  border-radius: 15px; 
  padding: 30px; 
}

.title-page-content h1 {
font-family: 'Fredoka One', cursive;
color: #5d3a00; /* brown color */
font-size: 4rem;
text-shadow: 2px 2px #a4743a;
margin-bottom: 40px;
}

.title-page-content button {
  background-color: #ffc857;
  color: #5d3a00;
  font-family: 'Fredoka One', cursive;
  font-size: 2rem;
  padding: 15px 40px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 2px 2px #a4743a;
  transition: background-color 0.3s ease, transform 0.2s ease-in-out;
}

.title-page-content button:hover {
  background-color: #ffdb58;
  transform: scale(1.05);
}

.title-page-content button:active {
  transform: scale(0.95);
  box-shadow: 1px 1px #a4743a;
}

.title-page-content button:active {
    transform: scale(0.95);
    box-shadow: 1px 1px #a4743a;
  }

.title-image {
    width: 200px
}

@keyframes shake {
    0% { transform: translate(0px, 0px); }
    25% { transform: translate(-5px, 5px); }
    50% { transform: translate(5px, -5px); }
    75% { transform: translate(-5px, 5px); }
    100% { transform: translate(0px, 0px); }
  }
  
  .title-image:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }

.grass-image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;
}
.grass-image2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
}