@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');



.all {
    display: flex;
    flex-direction: column;
    height: 100vh;
    color:grey;
    margin-top:-20px;
}

.topBar{
    padding: 1rem;
    border-radius:8px;
    margin-bottom:5px;
    height:200px;
    color:white;
}

.topBar h1{
    font-family: Titan One;
    font-size: 2em;
    line-height: 1.1;
    letter-spacing: 0.05rem;

    display: flex;
    position: fixed;
    left: 17vw;
    top:1vw;
}

.topBar h2{
    display: flex;
    position:fixed;
    right:10vw;
    top:1vw;
}

.content {
    display: flex;
    flex: 1;
}

.sideBar{
    background-color:white;
    flex: 1;
    padding: 1rem;
    width: 200px;
    border-radius:8px;
}

.sideBar img{
    width:200px;
    margin-top:10px;
    border-style: solid;
    border-color:black;
    border-width:3px;
    border-radius:100px;
}

.leaderboard{
    background-color:white;
    margin-left:15px;
    width: 785px;
    padding: 1rem;
    border-radius:8px;
    
    display:flex;
    flex-wrap:wrap;
    gap:1rem;
    flex-direction: column;
}

.leaderboard h2{
    margin-bottom:0px;
}

.leaderboard-item{
    flex:1 1 200px;
    max-width:300px;
}

.backboard{
    background-color: rgb(223, 223, 223);
    width:500px;
    height:300px;
    text-align:left;
    border-radius:8px;
    display:flex;
    flex-direction:column;
    gap:1rem;
    align-self: center;
}

.entry{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0.25rem 1rem;
}
.entry p{
    margin:0;
    margin-top:7px;
    padding:10px;
    font-weight:bold;
    font-family:Arial, Helvetica, sans-serif;
}

.number {
    font-weight:bold;
}

.box{
    margin-top:25px;
    border-radius:8px;
    background-color: rgb(223, 223, 223);
    width:85%;
    justify-self:center;
    padding:10px;
}

.box p {
    justify-self:left;
    margin-left:30px;
    font-family:Arial, Helvetica, sans-serif;
    margin-top:-13px;
}